* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: rgba(0, 0, 0, 0.938);
}
.name {
  background-color: indigo;
  color: skyblue;
  text-align: center;
  padding: 10px;
}
.appName {
  color: aqua;
}
.myName {
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.767);
}

nav a {
  padding: 2px;
  margin-right: 4px;
}
.navber {
  background: rgb(11, 31, 68);
  text-align: center;
  padding: 8px;
}
.navber a {
  color: rgb(189, 63, 18);
}
.login-signup {
  display: flex;
  padding: 20px;
  justify-content: center;
  width: 100%;
}
.button {
  max-width: 300px;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 3px 8px rgb(158, 157, 153);
  margin: 10px;
  border-radius: 5px;
  color: white;
}

.login {
  background: rgb(5, 175, 5);
}
.signup {
  background: rgb(15, 15, 185);
}

.button a {
  color: white;
}
